/* Global Classes */
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.b-orange{
    border: 1px solid #F6851B;
}
.b-yellow{
    border: 1px solid #F3BA2F;
}
.b-blue{
    border: 1px solid #0052FF;
}
.b-l-blue{
    border: 1px solid #3375BB;
}









